@charset "UTF-8";
.str3 {stroke:black;stroke-width:12.5;stroke-miterlimit:22.9256}
.str6 {stroke:#CC5210;stroke-width:12.5;stroke-miterlimit:22.9256}
.str1 {stroke:black;stroke-width:29.16;stroke-miterlimit:22.9256}
.str4 {stroke:black;stroke-width:8.33;stroke-miterlimit:22.9256}
.str2 {stroke:#706F70;stroke-width:45.83;stroke-miterlimit:22.9256}
.str0 {stroke:white;stroke-width:4.17;stroke-miterlimit:22.9256}
.str7 {stroke:black;stroke-width:2.36;stroke-miterlimit:22.9256}
.str5 {stroke:#FCFCFC;stroke-width:2.36;stroke-miterlimit:22.9256}
.fil4 {fill:none}
.fil2 {fill:none;fill-rule:nonzero}
.fil3 {fill:black}
.fil257 {fill:#ED2E37}
.fil5 {fill:#ED2E38}
.fil255 {fill:#ED2F36}
.fil256 {fill:#ED2F37}
.fil252 {fill:#ED3034}
.fil253 {fill:#ED3035}
.fil254 {fill:#ED3036}
.fil249 {fill:#ED3132}
.fil250 {fill:#ED3133}
.fil251 {fill:#ED3134}
.fil247 {fill:#ED3231}
.fil248 {fill:#ED3232}
.fil244 {fill:#ED332F}
.fil245 {fill:#ED3330}
.fil246 {fill:#ED3331}
.fil242 {fill:#ED342E}
.fil243 {fill:#ED342F}
.fil240 {fill:#ED352D}
.fil241 {fill:#ED352E}
.fil238 {fill:#ED362B}
.fil239 {fill:#ED362C}
.fil236 {fill:#ED372A}
.fil237 {fill:#ED372B}
.fil233 {fill:#ED3828}
.fil234 {fill:#ED3829}
.fil235 {fill:#ED382A}
.fil231 {fill:#ED3927}
.fil232 {fill:#ED3928}
.fil229 {fill:#ED3A26}
.fil230 {fill:#ED3A27}
.fil226 {fill:#ED3B24}
.fil227 {fill:#ED3B25}
.fil228 {fill:#ED3B26}
.fil224 {fill:#ED3C23}
.fil225 {fill:#ED3C24}
.fil222 {fill:#ED3D22}
.fil223 {fill:#ED3D23}
.fil220 {fill:#ED3E21}
.fil221 {fill:#ED3E22}
.fil219 {fill:#ED3F20}
.fil217 {fill:#ED401E}
.fil218 {fill:#ED401F}
.fil215 {fill:#ED411D}
.fil216 {fill:#ED411E}
.fil213 {fill:#ED421C}
.fil214 {fill:#ED421D}
.fil211 {fill:#ED431B}
.fil212 {fill:#ED431C}
.fil209 {fill:#ED441A}
.fil210 {fill:#ED441B}
.fil207 {fill:#ED4519}
.fil208 {fill:#ED451A}
.fil206 {fill:#ED4618}
.fil204 {fill:#ED4716}
.fil205 {fill:#ED4717}
.fil202 {fill:#ED4815}
.fil203 {fill:#ED4816}
.fil200 {fill:#ED4914}
.fil201 {fill:#ED4915}
.fil198 {fill:#ED4A13}
.fil199 {fill:#ED4A14}
.fil196 {fill:#ED4B12}
.fil197 {fill:#ED4B13}
.fil195 {fill:#ED4C12}
.fil193 {fill:#ED4D10}
.fil194 {fill:#ED4D11}
.fil192 {fill:#ED4E10}
.fil191 {fill:#ED4F0F}
.fil190 {fill:#ED500E}
.fil188 {fill:#ED510D}
.fil189 {fill:#ED510E}
.fil186 {fill:#ED520C}
.fil187 {fill:#ED520D}
.fil184 {fill:#ED530B}
.fil185 {fill:#ED530C}
.fil183 {fill:#ED540B}
.fil182 {fill:#ED550A}
.fil180 {fill:#ED5609}
.fil181 {fill:#ED560A}
.fil178 {fill:#ED5708}
.fil179 {fill:#ED5709}
.fil177 {fill:#ED5808}
.fil175 {fill:#ED5907}
.fil176 {fill:#ED5908}
.fil174 {fill:#ED5A07}
.fil173 {fill:#ED5B06}
.fil171 {fill:#ED5C05}
.fil172 {fill:#ED5C06}
.fil170 {fill:#ED5D05}
.fil168 {fill:#ED5E04}
.fil169 {fill:#ED5E05}
.fil167 {fill:#ED5F04}
.fil165 {fill:#ED6003}
.fil166 {fill:#ED6004}
.fil164 {fill:#ED6103}
.fil162 {fill:#ED6202}
.fil163 {fill:#ED6203}
.fil161 {fill:#ED6302}
.fil160 {fill:#ED6402}
.fil158 {fill:#ED6501}
.fil159 {fill:#ED6502}
.fil157 {fill:#ED6601}
.fil156 {fill:#ED6701}
.fil155 {fill:#ED6801}
.fil153 {fill:#ED6900}
.fil154 {fill:#ED6901}
.fil152 {fill:#ED6A00}
.fil151 {fill:#ED6B00}
.fil150 {fill:#ED6C00}
.fil149 {fill:#ED6D00}
.fil148 {fill:#ED6E00}
.fil147 {fill:#ED6F00}
.fil146 {fill:#ED7000}
.fil145 {fill:#ED7100}
.fil144 {fill:#ED7200}
.fil143 {fill:#ED7300}
.fil142 {fill:#ED7400}
.fil141 {fill:#ED7500}
.fil140 {fill:#ED7600}
.fil139 {fill:#ED7700}
.fil138 {fill:#ED7800}
.fil137 {fill:#ED7900}
.fil136 {fill:#ED7A00}
.fil135 {fill:#ED7B00}
.fil134 {fill:#ED7C00}
.fil133 {fill:#ED7D00}
.fil132 {fill:#ED7E00}
.fil131 {fill:#ED7F00}
.fil130 {fill:#EE8000}
.fil129 {fill:#EE8100}
.fil128 {fill:#EE8200}
.fil127 {fill:#EE8300}
.fil126 {fill:#EE8400}
.fil125 {fill:#EE8401}
.fil124 {fill:#EE8501}
.fil123 {fill:#EE8601}
.fil122 {fill:#EE8701}
.fil121 {fill:#EE8801}
.fil120 {fill:#EE8901}
.fil119 {fill:#EE8A01}
.fil118 {fill:#EE8B01}
.fil117 {fill:#EE8C01}
.fil116 {fill:#EE8D01}
.fil115 {fill:#EE8E01}
.fil114 {fill:#EE8F01}
.fil113 {fill:#EE9001}
.fil112 {fill:#EE9101}
.fil111 {fill:#EE9201}
.fil110 {fill:#EF9201}
.fil109 {fill:#EF9301}
.fil108 {fill:#EF9401}
.fil107 {fill:#EF9501}
.fil106 {fill:#EF9601}
.fil105 {fill:#EF9701}
.fil104 {fill:#EF9702}
.fil103 {fill:#EF9802}
.fil102 {fill:#EF9902}
.fil101 {fill:#EF9A02}
.fil100 {fill:#EF9B02}
.fil99 {fill:#EF9C02}
.fil98 {fill:#EF9D02}
.fil97 {fill:#EF9E02}
.fil96 {fill:#EF9F02}
.fil95 {fill:#EFA002}
.fil94 {fill:#EFA102}
.fil93 {fill:#EFA202}
.fil92 {fill:#F0A202}
.fil91 {fill:#F0A302}
.fil90 {fill:#F0A402}
.fil89 {fill:#F0A502}
.fil88 {fill:#F0A503}
.fil87 {fill:#F0A603}
.fil86 {fill:#F0A703}
.fil85 {fill:#F0A803}
.fil84 {fill:#F0A903}
.fil83 {fill:#F0AA03}
.fil82 {fill:#F0AB03}
.fil81 {fill:#F0AC03}
.fil80 {fill:#F0AD03}
.fil79 {fill:#F0AE03}
.fil78 {fill:#F0AF03}
.fil77 {fill:#F0B003}
.fil76 {fill:#F1B004}
.fil75 {fill:#F1B104}
.fil74 {fill:#F1B204}
.fil73 {fill:#F1B304}
.fil72 {fill:#F1B404}
.fil71 {fill:#F1B504}
.fil70 {fill:#F1B604}
.fil69 {fill:#F1B704}
.fil68 {fill:#F1B804}
.fil67 {fill:#F1B904}
.fil66 {fill:#F1B905}
.fil65 {fill:#F1BA05}
.fil64 {fill:#F1BB05}
.fil63 {fill:#F1BC05}
.fil62 {fill:#F1BD05}
.fil61 {fill:#F2BE05}
.fil60 {fill:#F2BF05}
.fil59 {fill:#F2C005}
.fil58 {fill:#F2C006}
.fil57 {fill:#F2C106}
.fil56 {fill:#F2C206}
.fil55 {fill:#F2C306}
.fil54 {fill:#F2C406}
.fil53 {fill:#F2C506}
.fil52 {fill:#F2C606}
.fil51 {fill:#F2C706}
.fil50 {fill:#F2C707}
.fil49 {fill:#F2C807}
.fil48 {fill:#F2C907}
.fil47 {fill:#F2CA07}
.fil46 {fill:#F3CA07}
.fil45 {fill:#F3CB07}
.fil44 {fill:#F3CC07}
.fil43 {fill:#F3CD07}
.fil42 {fill:#F3CD08}
.fil41 {fill:#F3CE08}
.fil40 {fill:#F3CF08}
.fil39 {fill:#F3D008}
.fil38 {fill:#F3D108}
.fil37 {fill:#F3D208}
.fil36 {fill:#F3D209}
.fil35 {fill:#F3D309}
.fil34 {fill:#F3D409}
.fil33 {fill:#F3D509}
.fil32 {fill:#F3D609}
.fil31 {fill:#F3D60A}
.fil30 {fill:#F4D70A}
.fil29 {fill:#F4D80A}
.fil28 {fill:#F4D90A}
.fil27 {fill:#F4DA0B}
.fil26 {fill:#F4DB0B}
.fil25 {fill:#F4DC0B}
.fil24 {fill:#F4DD0B}
.fil23 {fill:#F4DD0C}
.fil22 {fill:#F4DE0C}
.fil21 {fill:#F4DF0C}
.fil20 {fill:#F4E00D}
.fil19 {fill:#F4E10D}
.fil18 {fill:#F4E20D}
.fil17 {fill:#F4E20E}
.fil16 {fill:#F5E20E}
.fil15 {fill:#F5E30E}
.fil14 {fill:#F5E40F}
.fil13 {fill:#F5E50F}
.fil12 {fill:#F5E510}
.fil11 {fill:#F5E610}
.fil10 {fill:#F5E611}
.fil9 {fill:#F5E711}
.fil8 {fill:#F5E712}
.fil7 {fill:#F5E812}
.fil6 {fill:#F5E813}
.fil0 {fill:white}
.fil1 {fill:black;fill-rule:nonzero}
